@import '../../../styles-variables';
@import '../../../styles.scss';

.container-fluid{
    background-color: #E3E6F0;
}
.main{
    background-color: #E3E6F0;;
    border: none;
    padding: 0;

    .allPhotos{
        padding: 1%;
        height: 38px;
        width: 130px;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
        align-content: center;
        align-items: center;
        position: relative;
        float: right;
        margin-top: 10px;
        
            p{
              float: left; 
              margin-left: 10px; 
              font-size: 14px;
              font-weight: 600;
              letter-spacing: 0.1px;
              line-height: 19px;
      
              .arrow{
                margin-right: 3px;
              }
          
         }
    }

    .pictures{
        margin-top: 35px;

    .gallery{
        display: inline-flex;
        padding-right: 25px;
        padding-bottom: 15px;
        img{
            width: 160px;
            height: 130px;   
            border-radius: 5px;
        }
    }
}
    .viewMore{
        position: relative;
        padding: 7px;
        margin-right: 4%;
        .corner{
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 16px;
            @include gradient-text;
        }
    }

    .add-to-cart{
        
        .btn-add {
            width: 87px;
            border: 1px solid orange;
            border-radius: 1rem;
            box-shadow: 0 4px 10px 0 rgba(246,126,126,0.38);
            font-family: "Open Sans";
            font-size: 14px;
            background-color: $orangeGradientBackground;
            @include gradient-text;
            letter-spacing: 1px;
            line-height: 15px; 
            text-align: center;
            text-shadow: 0 4px 10px 0 rgba(246,126,126,0.38);
        }
        
        }
}

.imgDisplay{
    position: relative;
    z-index:5;
    top:0;
    align-content: center;
    align-items: center;

    .displayImage{
        margin-top: 7%;
        margin-left: auto;
        margin-right: auto;

        .cancel{
            position: absolute;
            right: 0;
            
            .image{
                width: 100%;
                height: auto;
                object-fit: cover;
                background-size: cover;
            }
        }
        
        img{
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
        background-size: cover;
        }
    }

    .naming{
        margin-top: 1rem;
        padding: 1rem;

        .float-left{           
            height: 36px;
            color: #FFFFFF;
            font-family: "Open Sans";
            font-size: 26px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 36px;
            
        }
            .pager{
                font-family: "Open Sans";
                font-size: 22px;
                font-weight: 900;
                line-height: 36px;
                .count{
                    padding-right: 1rem;
                    height: 24px;
                    color: #D6D3D3;
                    font-family: "Open Sans";
                    font-size: 25px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 24px;
                }

                button{
                        display: inline-block;
                        height: 57px;
                        width: 56px;
                        font-size: 35px;
                        height: 40px;
                        border-radius: 6px;
                        background-color: white;
                        color: black;
                        box-shadow: 1px 2px 11px 0 rgba(198,188,188,0.17);
                    
                        .previous{
                            margin-left: 1%;
                        }

                        .fa-angle-left{
                            font-size:35px;
                            color: black;
                        }

                        .fa-angle-right{
                            font-size:35px;
                            color: black;
                        }
                    }
                    button:disabled{
                        .fa-angle-left{
                            color: gray;
                        }
                        .fa-angle-right{
                            color: gray;
                        }
                    }
            
            }
        }
    
}

.overlay{
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
        cursor: pointer;
}   

