<div class="container-fluid">
    <div class="gradimage">
        <img class="img-fluid mx-auto d-block" src="../../../../assets/home3/grad.png" alt="gradimage">
    </div>
    <div class="plateImage">
        <img class="img-fluid mx-auto d-block" src="../../../../assets/home3/Image 3.png" alt="plateimage">
    </div>
    <div class="container">
        <div class="maincontent">
            <span class="thb-product-numbers">2</span>
            <p class="bestDeal">Best Deals & Offers</p>
            <p class="endlessDeal">Endless deals near you! Grab the best deals and offers.</p>

            <div class="row main">
                <div class="col">
                    <div class="card left">
                        <div class="card-body">
                            <span class="everyday">So good Wednesday</span><br>
                            <span class="waw">Flat 39% Off</span>
                            <div class="rectangle">
                                <P class="bsr">CDB33 </P>
                            </div>
                            <p class="viewdetails">View details</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card right">
                        <div class="card-body">
                            <span class="everyday">Everyday</span><br>
                            <span class="waw">WOW! </span>
                            <span class="everyday">Value</span>
                            <p class="info">Any 2 Chicken Biryani 50%</p>
                            <div class="rectangle">
                                <P class="bsr">BSR33 </P>
                            </div>
                            <p class="viewdetails">View details</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row naming">
                <div class="col-md-6 content float-left ">
                    <p>All offers & deals</p>
                </div>
                <div class="col text-right">
                    <p class="pager">

                        <a href="#" class="previous"><i class="fa fa-angle-left"
                                style="font-size:35px;color: black;"></i></a>
                        <a href="#" class="next"><i class="fa fa-angle-right"
                                style="font-size:35px;color: black;"></i></a>
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
<br>
<br>