@import '../../../../../src/styles.scss';
@import '../../../../../src/styles-variables.scss';

.container-fluid {
    font-family: "Open Sans";
    min-height: 935px;

  .mashroom{
      position: absolute;
      left: 0;
      top:9rem;
      z-index: -1;
  }

  .plateImage{
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
  }

    .container {
      .order-your-food-from{
        margin-bottom: 4rem;
        padding-top: 200px;
        p{
          font-size: 3.75rem;
          color: #4C4C4C;
          text-shadow: 0 0 9px 0 #FFFFFF;
        }
      }

      .search-bar{
        margin-bottom: 2rem;
        form{
          .input-group{
            border-radius: 10px;
            background-color: #FFFFFF;
            width: 62%;
            box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14);
            
            span{
              opacity: 0.6;
              padding: 1rem;
            }
            .search-text-box{
              color: #BDBDBD;
              font-size: 16px;
              padding-left: 0;
              border: none;
              height: 4rem;
            }
          }
        }
      }

      .row2{
        width:63%;
        padding:0;
        padding-bottom: 1rem;
        margin-left: 0px;
        
        div{
          
          padding-left: 0;
          margin-bottom: 5px;
          form{
            background-color: #FFFFFF;
            border-radius: 10px;
            box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14);
            .input-group{
              border-radius: 10px;
              input{
                height: 4rem;             
              }
              input,
              .now-icon,
              .gps-icon,
              .pin-icon{
                border: none;
                background-color: #FFFFFF;
              }
            }

            
          }
        }

      }

      .dropdownLocation{
        width: 100%;
        margin-left: 0.5%;
        margin-right: 2.5%;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 20px 0 rgba(0,0,0,0.14);

        #myUL {
          list-style-type: none;
          margin: 0;
          color: black;
          margin-top:20px;
          display: block;

        }
        li{
          width: 570px;
          padding-bottom: 3%;
          border-bottom: 1px solid #c4c0c0;
          padding-top: 3%;
          margin-left: 10px;
          margin-right: 10px; 

        }
        
        #myUL li a {
          border: none;
          margin-top: 1px; /* Prevent double borders */

          padding: 12px;
          text-decoration: none;
          font-size: 16px;
          color: black;
          display: block
        }
      }
    }

  }

  @media only screen and (max-device-width: 360px) {

    #myUL{
         li{
          margin-left: 0px;
          margin-right: 0px; 
           width: 220px;
         }
     }
     .input-group{
       width: 100%;
     }
}