<div class="container-fluid">
    <div class="pizza">
        <img class="img-fluid mx-auto d-block" src="../../../../assets/home5/Image 4.png" alt="gradimage">
    </div>
    <div class="logogradient">
        <img class="img-fluid mx-auto d-block" src="../../../../assets/home5/Logo Gradient.png" alt="plateimage">
    </div>
    <div class="container">
        <div class="iphone">
            <img class="img-fluid mx-auto d-block" src="../../../../assets/home5/iphone.png" alt="plateimage">
        </div>
        <div class="main">
            <span class="lorem">Lorem App</span><br>
            <span class="download">Download the Food App</span><br>
            <p>Get real-time order updates, live chat support, 
                and exclusive app-only offers.</p>
            <div class="row appImage">
                <div style="padding-bottom: 5%;">
                    <img src="../../../../assets/home5/Button - App Store.png" alt="apple store" />
                </div>
                <div>
                    <img src="../../../../assets/home5/Button - Play Store.png" alt="play store" />
                </div>
            </div>
        </div>
    </div>
</div>