<div class="container-fluid">
    <div class="dish">
        <img class="img-fluid mx-auto d-block" src="../../../../assets/home4/dish.png" alt="gradimage">
    </div>
    <div class="bread">
        <img class="img-fluid mx-auto d-block" src="../../../../assets/home4/bread.png" alt="plateimage">
    </div>
    <div class="container">
        <div class="middleContent">
            <p class="howtoorder">How to Order</p>
            <p class="info">Giving you an easiest way to look for the best food that can be ordered.</p>

            <div class="row dishImage">
                <div class="image">
                    <img src="../../../../assets/home4/shop.png" alt="shop" style="margin-left: 4rem;" />
                    <p class="text">Explore restaurants that deliver to your doorstep.</p>
                </div>
                <div class="image" style="margin-top: 5%;margin-left: -5%;">
                    <img src="../../../../assets/home4/Path 2.png" alt="rating 4" />
                </div>
                <div class="image">
                    <img src="../../../../assets/home4/burger.png" alt="rating 3" style="margin-left: 4rem;" />
                    <p class="text">Browse menus and build your order in seconds.</p>
                </div>
                <div class="image" style="margin-top: 5%;margin-left: -5%;">
                    <img src="../../../../assets/home4/Path 2.png" alt="rating 4" />
                </div>
                <div class="image">
                    <img src="../../../../assets/home4/shopping-cart (3).png" alt="rating 2"
                        style="margin-left: 4rem;" />
                    <p class="text">Follow the status of your order with real-time alerts.</p>
                </div>
            </div>
        </div>
    </div>
</div>